.chartContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.players {
  max-width: 800px;
  padding: 0 60px;
  margin: 0 auto;
}

.selectWrap {
  margin-bottom: 20px;
}

.spinWrap {
  width: 40px;
  margin: 0 auto;
}